#modal-resumo {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100dvh;
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal-resumo.open {
  display: flex;
}

#modal-resumo .modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 450px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#resumo-conteudo p {
  font-size: 15px;
  margin: 5px 0;
}

.resumo-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.resumo-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#confirmar-final {
  background: #389c53;
  color: white;
}

#voltar-inicio {
  background: #ff4156;
  color: white;
}

#close-resumo {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4156;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
